/* Header Styles */
h1 {
	color:red;
}

/*List Styles */
ul{
	list-style-type: none;
	padding-left: 0px;
}

li{
	display: inline-block;
	margin-left: 20px;
	margin-right: 30px;
}

/* Anchor and links */
a{
	font-size: 45px;
}